<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h1>Board List</h1>
<table th:if="${!boards.empty}">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Title</th>
    <th>Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boards}">
    <td th:text="${board.id}"></td>
    <td>
      <a th:href="@{boards/view?id={id} (id=${board.id})}" th:text="${board.name}"></a>
    </td>
    <td th:text="${board.title}"></td>
    <td th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd')}"></td>
  </tr>
  </tbody>
</table>
<div th:if="${boards.totalPages>1}">
  <ul>
    <li th:each="i : ${#numbers.sequence(1,boards.totalPages)}">
      <a th:href="@{/boards(page=${i})}" th:text="${i}"></a>
    </li>
  </ul>
</div>
</body>
<a th:href="@{/boards/add}">게시글 작성</a>
</html>